## Hyperparameter optimization with Grid Search

Load the necessary packages

In [8]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

#### Load the diabetes data

In [9]:
file='data/data1.csv'
df=pd.read_csv(file)
df.head()

,X1,X12,X13,X14,X15,X17,X2,X24,X26,X28,...,X146,X157,X158,X159,X160,X161,X162,X170,X174,y
0,135,35,64,113,152,127,190,-50,39,48,...,18,-83,-53,-79,-72,-85,-109,-17,-103,4
1,386,258,212,2,-267,-850,382,-152,318,473,...,303,63,63,69,89,123,136,164,157,1
2,-32,-94,-96,-104,-103,-75,-39,-39,-102,-80,...,-68,62,80,66,23,-11,-39,57,-12,5
3,-105,-68,-74,-80,-83,-68,-101,-97,-84,-75,...,-45,-64,-38,-22,-29,-42,-51,-82,-85,5
4,-9,-103,-84,-43,-9,-21,-65,55,73,-13,...,0,9,11,3,-1,-2,4,4,-41,5

**<font color='teal'> Start by reviewing the data info.</font>**

In [10]:
#df.info()

**<font color='teal'> Apply the describe function to the data.</font>**

In [11]:
df.describe()

,X1,X12,X13,X14,X15,X17,X2,X24,X26,X28,...,X146,X157,X158,X159,X160,X161,X162,X170,X174,y
count,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.00000,11500.000000,...,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000
mean,-11.581391,-6.042174,-6.687304,-7.088870,-7.211217,-6.806696,-10.911565,-6.883217,-5.15913,-4.874783,...,-8.240000,-5.255913,-4.682087,-4.638609,-4.770261,-5.650870,-7.170348,-10.145739,-13.363304,3.000000
std,165.626284,161.181118,165.071121,169.198359,170.641967,164.646296,166.059609,166.009100,162.77423,164.799831,...,167.808218,166.446540,167.554020,169.418457,170.639171,170.817824,168.145372,164.652883,167.257290,1.414275
min,-1839.000000,-1803.000000,-1833.000000,-1867.000000,-1870.000000,-1867.000000,-1838.000000,-1866.000000,-1866.00000,-1860.000000,...,-1866.000000,-1861.000000,-1845.000000,-1820.000000,-1864.000000,-1868.000000,-1855.000000,-1867.000000,-1866.000000,1.000000
25%,-54.000000,-54.000000,-54.000000,-54.000000,-53.000000,-53.000000,-55.000000,-52.000000,-52.00000,-50.000000,...,-55.000000,-52.000000,-52.000000,-53.000000,-52.000000,-52.000000,-52.000000,-55.000000,-55.000000,2.000000
50%,-8.000000,-8.000000,-8.000000,-8.000000,-7.000000,-6.000000,-8.000000,-7.000000,-6.00000,-6.000000,...,-8.000000,-7.000000,-7.000000,-7.000000,-6.000000,-7.000000,-7.000000,-9.000000,-10.000000,3.000000
75%,34.000000,35.000000,36.000000,37.000000,37.000000,37.000000,35.000000,38.000000,38.00000,38.250000,...,35.000000,36.000000,36.000000,37.000000,36.000000,36.000000,37.000000,34.000000,34.000000,4.000000
max,1726.000000,2047.000000,2047.000000,1829.000000,1631.000000,1441.000000,1713.000000,1879.000000,1435.00000,1257.000000,...,2047.000000,1681.000000,1502.000000,1314.000000,1431.000000,1543.000000,1556.000000,1777.000000,1733.000000,5.000000

**<font color='teal'> Define the `y` and `X` variables.</font>**

In [12]:
y = df[['y']].values

In [13]:
X = df.drop('y', axis=1).values

In [7]:
# grid search logistic regression model on the epileptic seizure dataset
from pandas import read_csv
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV
# load dataset
#url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/sonar.csv'
#dataframe = read_csv(url, header=None)
# split into input and output elements
dataframe=df
data = dataframe.values
#X, y = data[:, :-1], data[:, -1]
# define model
model = LogisticRegression()
# define evaluation
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
# define search space
space = dict()
space['solver'] = ['newton-cg', 'lbfgs', 'liblinear']
space['penalty'] = ['none', 'l1', 'l2', 'elasticnet']
space['C'] = [1e-5, 1e-4, 1e-3, 1e-2, 1e-1, 1, 10, 100]
# define search
search = GridSearchCV(model, space, scoring='accuracy', n_jobs=-1, cv=cv)
# execute search
result = search.fit(X, y)
# summarize result
print('Best Score: %s' % result.best_score_)
print('Best Hyperparameters: %s' % result.best_params_)

/Users/tddagdas/opt/anaconda3/envs/Main/lib/python3.7/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Best Score: 0.24643478260869564
Best Hyperparameters: {'C': 1e-05, 'penalty': 'l2', 'solver': 'newton-cg'}

In [14]:

## CATBOOST GRIDSEARCH

In [15]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from catboost import CatBoostClassifier


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

CBC = CatBoostClassifier()

parameters = {'depth'         : [4,5,6,7,8,9, 10],
                 'learning_rate' : [0.01,0.02,0.03,0.04],
                  'iterations'    : [10, 20,30,40,50,60,70,80,90, 100]
                 }
    

Grid_CBC = GridSearchCV(estimator=CBC, param_grid = parameters, cv = 2, n_jobs=-1)
Grid_CBC.fit(X_train, y_train)


print(" Results from Grid Search " )
print("\n The best estimator across ALL searched params:\n",Grid_CBC.best_estimator_)
print("\n The best score across ALL searched params:\n",Grid_CBC.best_score_)
print("\n The best parameters across ALL searched params:\n",Grid_CBC.best_params_)

0:	learn: 1.6044997	total: 855ms	remaining: 16.2s
1:	learn: 1.5998676	total: 1.19s	remaining: 10.7s
2:	learn: 1.5954447	total: 1.86s	remaining: 10.5s
3:	learn: 1.5910389	total: 2.44s	remaining: 9.78s
4:	learn: 1.5866736	total: 2.82s	remaining: 8.46s
5:	learn: 1.5824876	total: 3.65s	remaining: 8.53s
6:	learn: 1.5783972	total: 3.84s	remaining: 7.13s
7:	learn: 1.5745846	total: 4.65s	remaining: 6.98s
8:	learn: 1.5705964	total: 5s	remaining: 6.11s
9:	learn: 1.5665723	total: 5.7s	remaining: 5.7s
10:	learn: 1.5627691	total: 6.22s	remaining: 5.09s
11:	learn: 1.5590974	total: 6.7s	remaining: 4.47s
12:	learn: 1.5554465	total: 7.04s	remaining: 3.79s
13:	learn: 1.5518498	total: 7.66s	remaining: 3.28s
14:	learn: 1.5481620	total: 8.17s	remaining: 2.72s
15:	learn: 1.5447157	total: 8.6s	remaining: 2.15s
16:	learn: 1.5413653	total: 9.02s	remaining: 1.59s
17:	learn: 1.5380088	total: 9.59s	remaining: 1.06s
18:	learn: 1.5347780	total: 10.2s	remaining: 535ms
19:	learn: 1.5317148	total: 10.5s	remaining: 0us
 Results from Grid Search

 The best estimator across ALL searched params:
 <catboost.core.CatBoostClassifier object at 0x7f96a1e9d190>

 The best score across ALL searched params:
 0.20109088383935805

 The best parameters across ALL searched params:
 {'depth': 4, 'iterations': 20, 'learning_rate': 0.01}